################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SJ/.vs/SJ
/SJ/NETSZ/obj/Debug
/SJ/TestExe/obj/Debug
/SJ/packages
/SJ/SJ/x64/Debug
/SJ/TestExe/bin/Debug
/SJ/x64/Debug
/SJ/NETSZ/bin/Debug
